:root {
  --dark-grey: #1c1c1c;
  --light-grey: #eaeaea;
  --blue: #3a5af7;
  --light-blue: #e1e7f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  max-width: 380px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "roboto", sans-serif;
  background-color: var(--light-blue);
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

nav {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  padding: 30px 16px;
}

nav a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.9px;
}

nav h4 {
  margin: 11px 0;
}

hr {
  border: var(--blue) solid 0.5px;
}

main a {
  text-decoration: none;
}

.button-blue {
  background-color: var(--blue);
  color: var(--light-grey);
  font-weight: 500;
  letter-spacing: 1px;
  width: 130px;
  height: 48px;
  padding: 12px 32px;
  margin: 32px 16px;
}

.button-blue p {
  font-size: 20px;
}

.button-blue-square {
  filter: drop-shadow(0px 2px 4px rgba(58, 90, 247, 0.5));
  border-radius: 10px;
  margin-top: 64px;
}

.button-blue-round {
  filter: drop-shadow(0px 2px 4px rgba(58, 90, 247, 0.5));
  border-radius: 90px;
}

.button-white {
  background-color: #fff;
  border-radius: 90px;
  font-size: 30px;
  color: var(--blue);
  font-weight: 500;
  width: 48px;
  height: 48px;
  margin: 0 0 64px 16px;
}

.button-white p {
  padding: 12px 15px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  margin: 78px 16px;
}

.card h2 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.card h3 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.1px;
}
